# Required packages for PypeIt
#
# TODO: Make linetools and arclines pip installable so that they can be
# added here, or add them as submodule dependencies in extern/ directory
#
# Users
numpy>=1.15.4
scipy>=1.1
matplotlib>=2.1
astropy>=3.1
PyYAML>=3.11
configobj>=5.0.6
scikit-learn>=0.20

# linetools
# arclines
numba>=0.39.0

# Develop
#ginga>=2.7.0
h5py>=2.7.1
pytest>=3.0.7

# Documentation
#sphinx>=1.6


