# Required packages for PypeIt

# Users
packaging>=19.0
numpy>=1.18.0
scipy>=1.4
matplotlib>=3.1
astropy>=4.0
extension-helpers>=0.1
PyYAML>=5.1
configobj>=5.0.6
scikit-learn>=0.20
IPython>=7.2.0
ginga>=3.0
numba>=0.39.0
linetools==0.3.dev2147
#pytest>=6.0.0   # JXP -- Started failing Travis on 02 Oct 2020 [not sure why]

