include README.md
include LICENSE.rst
#include CHANGES.rst
include pyproject.toml
include setup.cfg

recursive-include pypeit *.pyx *.c *.pxd *.h
recursive-include pypeit/data *
recursive-include docs *
recursive-include licenses *
recursive-include cextern *
recursive-include scripts *

prune build
prune docs/_build
prune docs/api
prune pypeit/deprecated

global-exclude *.pyc *.o *.so *.DS_Store
